.articles_page{
    padding: 1.875rem 2.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    .cover_articles{
        width: 100%;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .articles_cards{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        .tegs {
            display: flex;
            align-items: flex-start;
            gap: 0.6rem;
            .article_category_1,
            .article_category_2,
            .article_category_3,
            .article_category{
                display: flex;
                padding: 0.75rem 1.25rem;
                justify-content: center;
                align-items: center;
                font-size: 1.5rem;
                color: var(--white);
                border: 2px solid var(--black);
            }
            .article_category{
                color: var(--black);
            }
            .article_category_1 {
                background: var(--pink);
            }
            .article_category_2 {
                background: var(--blue);
            }
            .article_category_3 {
                background: var(--green);
            }
        }
        .cards_articles{
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 1.25rem;
            a{
                width: 32.5%;
                text-decoration: none;
                .card{
                    min-height: 22rem;
                    display: flex;
                    padding-bottom: 1.25rem;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 1rem;
                    text-decoration: none;
                img{
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                    min-height: 25rem;
                }
                .title_card_1_type{
                    display: flex;
                    padding: 0rem 0.6rem;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-start;
                    gap: 0.6rem;
                    .teg_card{
                        display: flex;
                        align-items: flex-start;
                        gap: 0.6rem;
                        .teg_card_1, .teg_card_2, .teg_card_3{
                            display: flex;
                            padding: 0.75rem 1.25rem;
                            justify-content: center;
                            align-items: center;
                            font-size: 1.25rem;
                            color: var(--white);
                            border: 2px solid var(--black);
                        }
                        .teg_card_1{
                            background: var(--pink);
                        }
                        .teg_card_2{
                            background: var(--blue);
                        }
                        .teg_card_3{
                            background: var(--green);
                        }
                    }
                    h1{
                        color: var(--black);
                        font-size: 2.5rem;
                    }
                }
            }

            }
            .type_2{
                width: 49.4%;
            }
                .card_popular{
                    width: 100%;
                    display: flex;
                    padding: 1.8rem;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-start;
                    height: 37.5rem;
                    gap: 0.6rem;                  
                    text-decoration: none;
                    background-image: url(/src/images/article_6.png);
                    background-size: cover;
                    background-position: center;

                .title_card_1_type{
                    display: flex;
                    padding: 0rem 0.6rem;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-start;
                    gap: 0.6rem;
                    .teg_card{
                        display: flex;
                        align-items: flex-start;
                        gap: 0.6rem;
                        .teg_card_1, .teg_card_2, .teg_card_3{
                            display: flex;
                            padding: 0.75rem 1.25rem;
                            justify-content: center;
                            align-items: center;
                            font-size: 1.25rem;
                            color: var(--white);
                            border: 2px solid var(--black);
                        }
                        .teg_card_1{
                            background: var(--pink);
                        }
                        .teg_card_2{
                            background: var(--blue);
                        }
                        .teg_card_3{
                            background: var(--green);
                        }
                    }
                    h1{
                        
                        color: var(--white);
                        font-size: 2.5rem;
                    }
                }
            }
        }
    }

}
@media screen and (max-width: 1025px){
    .articles_page{
        padding: 0.8rem 1.5rem;
        gap: 3rem;
        .cover_articles{
            width: 100%;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .articles_cards{
        gap: 1.5rem;
        .tegs {
            gap: 0.6rem;
            .article_category_1,
            .article_category_2,
            .article_category_3,
            .article_category{
                padding: 0.6rem 1rem;
                font-size: 1.25rem;
            }
        }
        .cards_articles{
            gap: 1rem;
            a{
                width: 32.2%;
                .card{
                    padding-bottom: 1rem;
                    gap: 1rem;
                img{
                    width: 100%;
                }
                .title_card_1_type{
                    padding: 0rem 0.6rem;
                    gap: 0.6rem;
                    .teg_card{
                        gap: 0.6rem;
                        .teg_card_1, .teg_card_2, .teg_card_3{
                            padding: 0.6rem 1rem;
                            font-size: 1rem;
                        }
                    }
                    h1{
                        font-size: 1.5rem;
                    }
                }
            }

            }
            .type_2{
                width: 49.1%;
            }
                .card_popular{
                    padding: 1.5rem;
                    height: 37.5rem;
                    gap: 0.6rem;
                    .title_card_1_type{
                        padding: 0rem 0.6rem;
                        gap: 0.6rem;
                        .teg_card{
                            gap: 0.6rem;
                            .teg_card_1, .teg_card_2, .teg_card_3{
                                padding: 0.6rem 1rem;
                                font-size: 1rem;
                            }
                        }
                        h1{
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 700px){
    .articles_page{
        padding: 0.8rem 1.25rem;
        gap: 2.5rem;
        .cover_articles{
            width: 100%;
            img{
                height: 20rem;
                object-fit: cover;
                object-position: bottom;
            }
        }
        .articles_cards{
        gap: 1.25rem;
        .tegs {
            flex-wrap: wrap;
            .article_category_1,
            .article_category_2,
            .article_category_3,
            .article_category{
                padding: 0.6rem 1rem;
                font-size: 1.25rem;
            }
        }
        .cards_articles{
            flex-direction: column;
            gap: 1.8rem;
            a{
                width: 100%;
                .card{
                    padding-bottom: 1rem;
                    gap: 0.7rem;
                img{
                    width: 100%;
                }
                .title_card_1_type{
                    padding: 0rem 0.6rem;
                    gap: 0.5rem;
                    .teg_card{
                        gap: 0.5rem;
                        .teg_card_1, .teg_card_2, .teg_card_3{
                            padding: 0.4rem 0.8rem;
                            font-size: 1rem;
                        }
                    }
                    h1{
                        font-size: 1.5rem;
                    }
                }
            }

            }
            .type_2{
                width: 100%;
            }
                .card_popular{
                    padding: 1rem;
                    height: 37.5rem;
                    gap: 0.6rem;
                    .title_card_1_type{
                    padding: 0rem 0.6rem;
                    gap: 0.5rem;
                    .teg_card{
                        gap: 0.5rem;
                        .teg_card_1, .teg_card_2, .teg_card_3{
                            padding: 0.6rem 1rem;
                            font-size: 1rem;
                        }
                    }
                    h1{
                        font-size: 1.5rem;
                    }
                }
                }
            }
        }
    }
}