.article {
  width: 100%;
  height: auto;
  padding: 0.69vw 2.78vw;
  display: flex;
  flex-direction: column;
  gap: 2.78vw;
  .menu {
    width: 94.44vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2vw 0;

    nav {
      width: 24.51vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2.78vw;
      .logo {
        font-size: 2.5vw;
        color: var(--pink);
        text-decoration: none;
        text-shadow: 0px 0px 0.35vw var(--pink);
        &:hover {
          opacity: 0.7;
          transition: 0.3s;
        }
      }
      a {
        font-size: 1.39vw;
        font-weight: 800;
        color: var(--pink);
        text-decoration: none;
        letter-spacing: -0.04vw;
        &:hover {
          opacity: 0.7;
          transition: 0.3s;
        }
      }
    }
    p {
      font-size: 2.22vw;
      font-weight: 800;
      text-shadow: 0px 0px 5px var(--pink);
      color: var(--pink);
    }
  }

  .article_block {
    display: flex;
    flex-direction: column;
    gap: 2.78vw;
    .tegs {
      height: 3.47vw;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 0.83vw;
      .teg_back {
        background-image: url(../images/arrow_back.svg);
        background-size: 70%;
        background-repeat: no-repeat;
        padding: 0.97vw 1.74vw;
        background-color: var(--pink);
        background-position: center;
        border-radius: 0.49vw;
      }
      .teg_1,
      .teg_2 {
        font-size: 1.67vw;
        color: var(--white);
        background-color: var(--pink);
        border-radius: 0.49vw;
        padding: 0.69vw;
        display: flex;
        align-items: center;
      }
    }
    .article_title {
      width: 73.51vw;
      height: 10.8vw;
      display: flex;
      flex-direction: column;
      gap: 0.78vw;
      margin-left: 7.21vw;
      h2 {
        font-size: 3.89vw;
        color: var(--black);
        line-height: 3.89vw;
      }
      p {
        font-size: 2.22vw;
        font-weight: 800;
        color: var(--blue);
      }
    }
    .cover {
      width: 94.44vw;
      height: 28.78vw;
      border-radius: 1.04vw;
      overflow: hidden;
      position: relative;
      background-color: var(--blue);
      background-image: url(/src/images/article1_cover_2.png);
      background-size: cover;
      background-position: 50% 12%;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .text_article_1 {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 2.78vw;
      transition: filter 0.3s ease;
      .toggle_list {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 1.39vw;
        .click_toggle {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          gap: 1.39vw;
          margin-left: 3.7vw;
          &:hover {
            opacity: 0.8;
            transition: 0.3s;
          }
          cursor: pointer;
          #triangle {
            width: 2.22vw;
            height: 2.01vw;
            background-image: url(/src/images/toggle_triangle.svg);
            background-size: 100%;
            background-repeat: no-repeat;
            rotate: -90deg;
            transition: transform 0.2s ease-in-out;
          }
          p {
            font-size: 1.67vw;
            font-weight: 500;
            color: var(--pink);
          }
        }
        p {
          font-size: 1.67vw;
          font-weight: 500;
          width: 60.5vw;
          color: var(--dark_grey);
        }
        .hidden_block_text,
        .visible_text {
          margin-left: 7.21vw;
        }
        .visible_text {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          gap: 1.39vw;

          .highlighted-word {
            position: relative;
            color: var(--pink);
            font-weight: 500;
            cursor: pointer;
          }
        }
        .hidden_block_text {
          display: none;
        }
        .hidden_block_text.visible {
          display: block;
        }
      }
      .text_block {
        width: 94.44vw;
        height: 11vw;
        padding: 2.78vw 23.96vw 2.78vw 7.2vw;
        background-color: var(--pink);
        border-radius: 1.04vw;
        p {
          font-size: 1.67vw;
          font-weight: 500;
          color: var(--white);
        }
      }
      .text_last {
        width: 62.5vw;
        font-size: 1.67vw;
        font-weight: 500;
        color: var(--dark_grey);
        margin-left: 7.21vw;
      }
    }
  }
}
.footer {
  width: 100%;
  top: 6.94vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.04vw;
  border-radius: 1.04vw 1.04vw 0 0;
  padding: 2.08vw 0 1.39vw 0;
  background-color: var(--pink);
  color: var(--white);
  .logo_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 0px 0px 5px var(--white);
    a {
      text-decoration: none;
      font-size: 2.5vw;
      color: var(--white);
      &:hover {
        opacity: 0.7;
        transition: 0.3s;
      }
    }
    p {
      font-size: 1.39vw;
    }
  }
  .teg_link {
    height: 2.78vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.69vw;
    p {
      color: var(--pink);
      background-color: var(--white);
      padding: 0.63vw;
      border-radius: 0.42vw;
      font-weight: 800;
    }
  }
  p {
    font-weight: 800;
    font-size: 1.39vw;
  }

  .social_icons {
    width: 6.7vw;
    height: 3.26vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    .tg_icon,
    .vk_icon {
      width: 3vw;
      height: 3vw;
      &:hover {
        opacity: 0.7;
        transition: 0.3s;
      }
    }
    .tg_icon {
      background-image: url(../images/telegram_icon.svg);
      background-size: 100%;
    }
    .vk_icon {
      background-image: url(../images/vk_icon.svg);
      background-size: 100%;
    }
  }
}

.termin {
  width: auto;
  position: absolute;
  background-color: var(--pink);
  padding: 1.39vw;
  border-radius: 0.69vw;
  top: 62.2vw;
  left: 32%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 100;
  p {
    width: 21.81vw;
    font-size: 1.39vw;
    font-weight: 500;
    color: var(--white);
  }
}
.blur {
  filter: blur(0.21vw);
  transition: filter 0.3s ease;
}
.visible_termin {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 1025px) {
  .article {
    padding: 1.7vw 3.91vw;

    .menu {
      width: 92.19vw;
      padding: 1.76vw 0;
      nav {
        width: 31.47vw;
        .logo {
          font-size: 3.52vw;
        }
        a {
          font-size: 1.95vw;
        }
        p {
          font-size: 3.13vw;
        }
      }
    }
    .article_block {
      gap: 3.91vw;
      .tegs {
        height: 4.88vw;
        gap: 1.17vw;
        .teg_back {
          background-image: url(../images/arrow_back.svg);
          background-size: 70%;
          padding: 1.37vw 2.44vw;
          border-radius: 0.68vw;
        }
        .teg_1,
        .teg_2 {
          font-size: 2.34vw;
          border-radius: 0.68vw;
          padding: 0.98vw;
        }
      }
      .article_title {
        width: 74.61vw;
        height: 16.6vw;
        gap: 0.78vw;
        margin-left: 0;
        h2 {
          font-size: 5.47vw;
          line-height: 5.47vw;
        }
        p {
          font-size: 3.13vw;
        }
      }
      .cover {
        width: 92.19vw;
        height: 44.53vw;
        border-radius: 1.46vw;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .text_article_1 {
        gap: 3.91vw;
        .toggle_list {
          gap: 1.95vw;

          .click_toggle {
            gap: 1.95vw;
            margin-left: 3.7vw;
            &:hover {
              opacity: 0.8;
              transition: 0.3s;
            }
            cursor: pointer;
            #triangle {
              width: 3.13vw;
              height: 2.83vw;
            }
            p {
              font-size: 2.34vw;
            }
          }
          p {
            font-size: 2.34vw;
            width: 65.89vw;
          }
          .hidden_block_text,
          .visible_text {
            margin-left: 8.5vw;
          }
          .visible_text {
            gap: 1.95vw;
          }
          .hidden_block_text {
            display: none;
          }
          .hidden_block_text.visible {
            display: block;
          }
        }
        .text_block {
          width: 92.19vw;
          height: 15vw;
          padding: 2.78vw 20.96vw 2.78vw 8.35vw;
          background-color: var(--pink);
          border-radius: 1.04vw;
          p {
            font-size: 2.34vw;
            font-weight: 500;
            color: var(--white);
          }
        }
        .text_last {
          width: 65.89vw;
          font-size: 2.34vw;
          margin-left: 8.5vw;
        }
      }
    }
  }
  .footer {
    width: 100%;
    top: 6.94vw;
    gap: 1.46vw;
    border-radius: 1.04vw 1.04vw 0 0;
    padding: 2.93vw 0 1.95vw 0;
    background-color: var(--pink);
    color: var(--white);
    .logo_footer {
      text-shadow: 0px 0px 0.49vw var(--white);
      a {
        text-decoration: none;
        font-size: 2.5vw;
        color: var(--white);
        &:hover {
          opacity: 0.7;
          transition: 0.3s;
        }
      }
      p {
        font-size: 1.95vw;
      }
    }
    .teg_link {
      height: 3.91vw;
      gap: 0.98vw;
      p {
        padding: 0.88vw;
        border-radius: 0.59vw;
      }
    }
    p {
      font-size: 1.95vw;
    }
    .social_icons {
      width: 13.5vw;
      height: 5.86vw;
      .tg_icon,
      .vk_icon {
        width: 5.86vw;
        height: 5.86vw;
        &:hover {
          opacity: 0.7;
          transition: 0.3s;
        }
      }
      .tg_icon {
        background-image: url(../images/telegram_icon.svg);
        background-size: 100%;
      }
      .vk_icon {
        background-image: url(../images/vk_icon.svg);
        background-size: 100%;
      }
    }
  }
  .termin {
    padding: 1.95vw;
    border-radius: 0.98vw;
    top: 92.8vw;
    left: 44%;
    p {
      width: 31.81vw;
      font-size: 1.95vw;
    }
  }
  .blur {
    filter: blur(0.21vw);
    transition: filter 0.3s ease;
  }
  .visible_termin {
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (max-width: 431px) {
  .article {
    padding: 1.93vw 3.91vw;

    .menu {
      width: 92.7vw;
      padding: 4.19vw 0;
      nav {
        width: 52.51vw;
        .logo {
          font-size: 5.58vw;
          text-shadow: 0px 0px 1.16vw var(--pink);
        }
        a {
          font-size: 3.72vw;
        }
      }
      p {
        font-size: 4.64vw;
        text-shadow: 0px 0px 1.16vw var(--pink);
      }
    }

    .article_block {
      gap: 4.65vw;
      .tegs {
        height: 8.3vw;
        gap: 2.09vw;
        .teg_back {
          background-image: url(../images/arrow_back.svg);
          background-size: 60%;
          padding: 2.56vw 4.65vw;
          border-radius: 1.4vw;
        }
        .teg_1,
        .teg_2 {
          font-size: 3.72vw;
          border-radius: 1.4vw;
          padding: 2.09vw;
        }
      }
      .article_title {
        width: 82.09vw;
        height: 16vw;
        gap: 0;
        margin-left: 0;
        h2 {
          font-size: 6.05vw;
          line-height: 6.05vw;
        }
        p {
          font-size: 3.72vw;
        }
      }
      .cover {
        width: 92.2vw;
        height: 84.65vw;
        border-radius: 2.33vw;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .text_article_1 {
        gap: 4.65vw;
        .toggle_list {
          gap: 1.95vw;

          .click_toggle {
            gap: 1.95vw;
            margin-left: 4.7vw;
            &:hover {
              opacity: 0.8;
              transition: 0.3s;
            }
            cursor: pointer;
            #triangle {
              width: 4.42vw;
              height: 4.88vw;
            }
            p {
              font-size: 3.72vw;
            }
          }
          p {
            font-size: 3.72vw;
            width: 80.89vw;
          }
          .hidden_block_text,
          .visible_text {
            margin-left: 3.7vw;
          }
          .visible_text {
            gap: 1.95vw;
          }
          .hidden_block_text {
            display: none;
          }
          .hidden_block_text.visible {
            display: block;
          }
        }
        .text_block {
          width: 92.4vw;
          height: 25vw;
          padding: 2.78vw 3.96vw 2.78vw 4.35vw;
          background-color: var(--pink);
          border-radius: 2.33vw;
          p {
            font-size: 3.72vw;
            font-weight: 500;
          }
        }
        .text_last {
          width: 80.89vw;
          font-size: 3.72vw;
          margin-left: 4.7vw;
        }
      }
    }
  }
  .footer {
    width: 100%;
    top: 6.94vw;
    gap: 3.49vw;
    border-radius: 2.33vw 2.33vw 0 0;
    padding: 9.3vw 0 6.98vw 0;
    .logo_footer {
      text-shadow: 0px 0px 0.49vw var(--white);
      h1 {
        font-size: 7.44vw;
        &:hover {
          opacity: 0.7;
          transition: 0.3s;
        }
      }
      p {
        font-size: 3.72vw;
      }
    }
    .teg_link {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 33.2vw;
      gap: 1.86vw;
      p {
        font-size: 3.72vw;
        padding: 1.63vw;
        border-radius: 1.16vw;
      }
    }
    p {
      font-size: 3.72vw;
    }
    .social_icons {
      width: 20.56vw;
      height: 9.3vw;
      .tg_icon,
      .vk_icon {
        width: 9.3vw;
        height: 9.3vw;
        &:hover {
          opacity: 0.7;
          transition: 0.3s;
        }
      }
      .tg_icon {
        background-image: url(../images/telegram_icon.svg);
        background-size: 100%;
      }
      .vk_icon {
        background-image: url(../images/vk_icon.svg);
        background-size: 100%;
      }
    }
  }
  .termin {
    padding: 2.33vw;
    border-radius: 2.33vw;
    top: 127.8vw;
    left: 30%;
    p {
      width: 32.81vw;
      font-size: 3.72vw;
    }
  }
  .blur {
    filter: blur(0.21vw);
    transition: filter 0.3s ease;
  }
  .visible_termin {
    opacity: 1;
    visibility: visible;
  }
}
