.page_article2{

    .preloader{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(12px);
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 5rem 9.4rem;
            gap: 2.5rem;
            background-color: var(--white);
            border: 2px solid var(--black);
            p{
            color: var(--black);
            text-align: center;
            font-size: 2.5rem;
        }
        .confirm_button{
            display: flex;
            padding: 0.75rem 6.25rem;
            justify-content: center;
            align-items: center;
            border: 2px solid var(--black);
            background: var(--pink);
            font-size: 1.5rem;
            color: var(--white);
            cursor: pointer;
            &:hover{
                opacity: 0.8;
                transition: 0.4;
            }
        }
        }
        
        
    }
    .inactive_preloader{
        display: none;
    }

    .article2{
    padding: 1.875rem 2.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    .cover_article{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.5rem;
        .name_article{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            h1{
                font-size: 4rem;
                color: var(--black);
            }
            .tegs {
            display: flex;
            align-items: flex-start;
            gap: 0.6rem;
            .article_category_1,
            .article_category_3 {
              display: flex;
              padding: 0.75rem 1.25rem;
              justify-content: center;
              align-items: center;
              font-size: 1.5rem;
              color: var(--white);
              border: 2px solid var(--black);
            }
            .article_category_1 {
              background: var(--pink);
            }
            .article_category_3 {
              background: var(--green);
            }
          }
        }
        img{
            width: 100%;
            object-fit: contain;
        }
        .info_article{
            width: 100%;
            display: flex;
            padding: 2.5rem;
            align-items: flex-start;
            gap: 2.5rem;
            border: 2px solid var(--black);
            p{
                font-size: 2rem;
            }
            div{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1.25rem;
            }
        }
    }
    .text_article2{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5rem;
        .text_block_1{
            display: inline-flex;
            align-items: flex-start;
            padding-right: 6rem;
            gap: 10rem;
            p{
                font-size: 2rem;
                color: var(--dark_grey);
            }
            img{
                width: 13vw;
                height: 13vw;
                transform: rotate(25deg);
            }
        }
        .text_block_2{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 10rem;
            img{
                width: 24vw;
                height: 27.85vw;
            }
            div{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 2.5rem;
                .highlighted-termin {
                    position: relative;
                    color: var(--pink);
                    cursor: pointer;
                }
                p{
                    font-size: 2rem;
                    color: var(--dark_grey);
                }
            }
        }
        .info_block{
            width: 100%;
            display: flex;
            padding: 2.5rem 6.875rem 2.5rem 2.5rem;
            align-items: center;
            gap: 2.5rem;
            border: 2px solid var(--black);
            background: var(--pink);
            p{
                color: var(--white);
                font-size: 2rem;
            }
            .info{
                font-size: 3rem;
                transform: scale(0.8, 3);
                font-family: 'helvetica';
            }
        }
        .text_block_3{
            width: 100%;
            display: flex;
            padding-right: 28rem;
            justify-content: center;
            align-items: center;
            p{
                font-size: 2rem;
                color: var(--dark_grey);
            }
            
        }
        .text_block_4{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 10rem;
            img{
                width: 47.92vw;
                height: 31.88vw;
            }
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2.5rem;
                p{
                    font-size: 2rem;
                    color: var(--dark_grey);
                }
                img{
                    width: 17vw;
                    height: 19vw;
                    transform: rotate(25deg);
                }
            }
        }
        .read-more{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1.25rem;
            h1{
                color: var(--black);
                font-size: 4rem;
            }
            .read_cards{
                display: flex;
                flex-direction: row;
                gap: 1.25rem;
                .read_card{
                    width: 50%;
                    height: 35.69vw;
                    display: flex;
                    padding: 1.8rem;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-start;
                    gap: 0.6rem;

                    h1{
                        color: var(--white);
                        font-size: 2.5rem;
                    }
                    .tegs {
                        display: flex;
                        align-items: flex-start;
                        gap: 0.625rem;
                        .article_category_1,
                        .article_category_2 {
                        display: flex;
                        padding: 0.75rem 1.25rem;
                        justify-content: center;
                        align-items: center;
                        font-size: 1.5rem;
                        color: var(--white);
                        border: 2px solid var(--black);
                    }
                    .article_category_1 {
                    background: var(--pink);
                    }
                    .article_category_2 {
                    background: var(--blue);
                    }
                    }
                }
                .first{
                    background-image: url(/src/images/article2_read1.png);
                    background-size: cover;
                }
                .second{
                    background-image: url(/src/images/article2_read2.png);
                    background-size: cover;
                }
            }
            
        }
    }
}
.termin2 {
  width: auto;
  position: absolute;
  background-color: var(--pink);
  border: 2px solid var(--black);
  padding: 1.875rem;
  top: 93rem;
  left: 50%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 100;
  p {
    font-size: 2rem;
    color: var(--white); 
  }
}
.blur {
  filter: blur(0.21vw);
  transition: filter 0.3s ease;
}
.visible_termin {
  opacity: 1;
  visibility: visible;
}
}

@media screen and (max-width: 1025px){
    .page_article2{
        .preloader{
        div{
            padding: 4rem 8rem;
            gap: 1.5rem;
            p{
            font-size: 2rem;
        }
        .confirm_button{
            padding: 0.5rem 6rem;
            font-size: 1.25rem;
        }
        }
        
        
    }
        
        .article2{
            padding: 0.8rem 1.5rem;
            gap: 3rem;
            .cover_article{
                gap: 1.5rem;
                .name_article{
                    h1{
                        font-size: 3rem;
                    }
                    .tegs{
                        .article_category_1,
                        .article_category_3 {
                            padding: 0.5rem 1rem;
                            font-size: 1.25rem;
                        }
                    }
                }
                .info_article{
                    padding: 2rem;
                    gap: 2rem;
                    p{
                        font-size: 2rem;
                    }
                    div{
                        gap: 1rem;
                    }
                }
            }
            .text_article2{
                gap: 3rem;
                .text_block_1{
                    padding-right: 3rem;
                    gap: 6rem;
                    p{
                        font-size: 1.5rem;
                    }
                    img{
                        width: 12rem;
                        height: 12rem;
                    }
                }
                .text_block_2{
                    gap: 4rem;
                    div{
                        gap: 0.5rem;
                        p{
                            font-size: 1.5rem;
                        }
                    }
                }
                .info_block{
                    padding: 1.8rem;
                    gap: 2.5rem;
                    p{
                        font-size: 1.5rem;
                    }
                    .info{
                        font-size: 3rem;
                        transform: scale(0.8, 3);
                    }
                }
                .text_block_3{
                    padding-right: 17rem;
                    p{
                        font-size: 1.5rem;
                    }
                }
                .text_block_4{
                    gap: 4rem;
                    div{
                        gap: 1rem;
                        p{
                            font-size: 1.5rem;
                        }
                        img{
                            width: 21vw;
                            height: 23vw;
                        }
                    }
                }
                .read-more{
                    gap: 1rem;
            h1{
                font-size: 2rem;
            }
            .read_cards{
                gap: 1rem;
                .read_card{
                    height:35vw;
                    padding: 1rem;
                    gap: 0.6rem;
                    h1{
                        font-size: 1.5rem;
                    }
                    .tegs {
                        .article_category_1,
                        .article_category_2 {
                        padding: 0.5rem 1rem;
                        font-size: 1.25rem;
                    }
                    }
                }
            }
            
        }
            }
        }

        .termin2 {
            padding: 1.875rem;
            top: 72rem;
            left: 36%;
            p {
                font-size: 1.5rem;
            }
        }
  .footer {
  .teg_link {
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.6rem;
    a {
      font-size: 1.25rem;
      padding: 0.5rem 1rem;
    }
  }

  .social_icons {
    height: 3.26vw;
    .tg_icon,
    .vk_icon {
      width: 3rem;
      height: 3rem;
      &:hover {
        opacity: 0.7;
        transition: 0.3s;
      }
    }
  }
}
    }
}

@media screen and (max-width: 700px){
    .page_article2{
        .preloader{
        div{
            padding: 2.5rem 1.8rem;
            gap: 1.25rem;
            p{
            font-size: 1.5rem;
        }
        .confirm_button{
            padding: 0.5rem 6rem;
            font-size: 1rem;
        }
        }
        
        
    }
        
        .article2{
            padding: 0.8rem 1.25rem;
            gap: 2.5rem;
            .cover_article{
                gap: 1.25rem;
                img{
                    height: 32rem;
                    object-fit: cover;
                    object-position: bottom;
                }
                .name_article{
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 1.25rem;
                    order: 2;
                    h1{
                        font-size: 1.75rem;
                    }
                }
                .info_article{
                    padding: 1.25rem;
                    gap: 1.8rem;
                    order: 3;
                    flex-direction: column;
                    align-items: flex-start;
                    p{
                        font-size: 1.5rem;
                    }
                    div{
                        gap: 0.6rem;
                    }
                }
            }
            .text_article2{
                gap: 3rem;
                .text_block_1{
                    padding-right: 0rem;
                    gap: 0rem;
                    p{
                        font-size: 1.25rem;
                    }
                    img{
                        display: none;
                    }
                }
                .text_block_2{
                    flex-direction: column;
                    gap: 2.5rem;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                    div{
                        gap: 1.25rem;
                        p{
                            font-size: 1.25rem;
                        }
                    }
                }
                .info_block{
                    padding: 3.25rem 1.25rem 1.25rem 1.25rem;
                    gap: 3.5rem;
                    flex-direction: column;
                    align-items: flex-start;
                    p{
                        font-size: 1.25rem;
                    }
                    .info{
                        font-size: 3rem;
                        transform: scale(1, 3);
                        
                    }
                }
                .text_block_3{
                    padding-right: 0rem;
                    p{
                        font-size: 1.25rem;
                    }
                }
                .text_block_4{
                    flex-direction: column;
                    gap: 2.5rem;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                    div{
                        gap: 0rem;
                        p{
                            font-size: 1.25rem;
                        }
                        img{
                            display: none;
                        }
                    }
                }
                .read-more{
                    gap: 1rem;
            h1{
                font-size: 1.75rem;
            }
            .read_cards{
                gap: 1.25rem;
                flex-direction: column;
                .read_card{
                    width: 100%;
                    height:70vw;
                    padding: 1.25rem;
                    gap: 0.6rem;
                    h1{
                        font-size: 1.5rem;
                    }
                    .tegs {
                        .article_category_1,
                        .article_category_2 {
                        padding: 0.5rem 1rem;
                        font-size: 1.25rem;
                    }
                    }
                }
            }
            
        }
            }
        }

        .termin2 {
            padding: 1rem;
            top: 114rem;
            left: 13%;
            p {
                font-size: 1.25rem;
            }
        }
        .blur {
            filter: blur(0.5vw);
            transition: filter 0.3s ease;
        }
  .footer {
    margin-top: 2.5rem;
  .teg_link {
    flex-direction: column;
    justify-content: center;
    gap: 0.6rem;
    a {
      font-size: 1.25rem;
      padding: 0.5rem 1rem;
    }
  }

  .social_icons {
    height: 3.26vw;
    .tg_icon,
    .vk_icon {
      width: 3rem;
      height: 3rem;
      &:hover {
        opacity: 0.7;
        
        transition: 0.3s;
      }
    }
  }
}
    }
}