* {
  box-sizing: border-box;
}

html,
body,
.index {
  width: 100%;
  height: 100%;
  font-family: 'PPNeueMontreal', sans-serif;
  font-weight: 800;
  font-style: bold;
}

h1,
p {
  font-family: 'PPNeueMontreal', sans-serif;
  font-weight: 800;
}
h1 {
  letter-spacing: -0.1vw;
}
p {
  letter-spacing: -0.04vw;
}

.index {
  background-image: url(../images/background_main_blue.png);
  background-size: 100%;
  width: 100%;
  height: 58.47vw;
  .mainInfo {
    font-family: 'PPNeueMontreal', sans-serif;
    font-weight: 800;
    width: 100%;
    height: 100%;
    padding: 1.39vw 2.78vw;

    .menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: 'PPNeueMontreal', sans-serif;
      font-weight: 800;

      p {
        font-family: 'PPNeueMontreal', sans-serif;
        font-weight: 800;
        text-shadow: 0px 0px 5px var(--white);
      }

      nav {
        width: 24.51vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2.78vw;
        .logo {
          font-family: 'PPNeueMontreal', sans-serif;
          font-weight: 800;
          font-size: 2.5vw;
          color: var(--white);
          text-decoration: none;
          text-shadow: 0px 0px 5px var(--white);
        }
        a {
          font-family: 'PPNeueMontreal', sans-serif;
          font-weight: 800;

          font-size: 1.39vw;
          color: var(--white);
          text-decoration: none;
          letter-spacing: -0.04vw;
        }
      }
      p {
        font-size: 2.22vw;
        color: var(--white);
      }
    }
    .container {
      width: 100%;
      height: 42.49vw;
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      h1 {
        font-size: 5vw;
        color: var(--white);
        text-shadow: 0px 0px 5px var(--white);
        margin-top: 2.78vw;
        text-align: center;
      }
      .text_about_media {
        font-family: 'PPNeueMontreal', sans-serif;
        font-weight: 800;
        font-size: 2.22vw;
        display: flex;
        text-align: center;
        color: var(--white);
        width: 40.61vw;
        margin-top: 5.56vw;
      }

      .block_form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        margin-top: 2.08vw;

        .text_over_form {
          font-family: 'PPNeueMontreal', sans-serif;
          font-weight: 800;

          font-size: 1.67vw;
          text-align: center;
          color: var(--white);
        }

        form {
          display: flex;
          flex-direction: column;
          align-content: center;
          flex-wrap: nowrap;
          gap: 1.04vw;
          width: 26.18vw;
          height: 7.43vw;
          margin-top: 1.39vw;
          input,
          button {
            width: 26.18vw;
            height: 3.19vw;
            top: 1.74vw;
            border-radius: 1.04vw;
            font-family: 'PPNeueMontreal', sans-serif;
            font-weight: 800;
            font-size: 1.39vw;
            text-align: center;
          }
          input {
            border: 0.21vw solid var(--white);
            border-color: var(--white);
            color: var(--white);
            background-color: transparent;
            padding: 0.76vw 7.78vw;
          }
          button {
            border: none;
            color: var(--blue);
            background-color: var(--white);
            padding: 0.76vw 7.78vw;
            box-shadow: 0px 0px 5px var(--white);
            cursor: pointer;

            &:hover {
              background-color: #c8dbf0;
              box-shadow: 0px 0px 5px #c8dbf0;
            }
          }
          ::placeholder {
            color: var(--white);
          }
        }
      }
    }

    .social {
      width: 52.4vw;
      margin-top: 6vw;
      margin-left: auto;
      font-size: 1.67vw;
      text-align: center;
      color: var(--white);
      height: 3.82vw;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: space-between;
      gap: 30.69vw;
      text-shadow: 0px 0px 5px var(--white);

      p {
        font-family: 'PPNeueMontreal', sans-serif;
        font-weight: 800;
      }

      .social_icons {
        width: 5.78vw;
        height: 2.6vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
      }
    }
  }
}
