.cards_page{
    padding: 1.875rem 2.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    h1{
        color: var(--black);
        font-size: 4rem;
    }
    .cards_column{
    width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1.25rem;
    .cards_block {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1.25rem;
      .sleng_1, .sleng_3, .sleng_4, .sleng_5, .sleng_6, .sleng_8 {
        height: 17.5vw;
        width: 100%;
        transition: transform 0.7s;
        transform-style: preserve-3d;
        cursor: pointer;
        position: relative;
        .card__face {
            height: 17.5vw;
            width: 100%;
            display: flex;
            padding: 0.5rem 0;
            flex-direction: column;
            position: absolute;
            text-align: center;
            align-items: center;
            justify-content: center;
            gap: 1.25rem;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            border: 2px solid var(--black);
        }
        .card__face--front {
            display: flex;
            padding: 0.5rem 0;
            position: absolute;
            text-align: center;
            align-items: center;
            img{
                width: 50%;
            }
        }
        .card__face--back {
            display: flex;
            padding: 0.5rem 0;
            flex-direction: column;
            position: absolute;
            text-align: center;
            justify-content: center;
            align-items: center;
            gap: 1.25rem;
            transform: rotateY(180deg);
            h1{
                color: var(--333333, #333);
                text-align: center;
                font-size: 2rem;
            }
            p{
                font-size: 1.5rem;
                display: flex;
                padding: 1.5rem 2rem;
                justify-content: center;
                align-items: center;
                border: 2px solid var(--black);
                color: var(--white);
                background-color: var(--pink);
            }
        }
      }
      .sleng_2, .sleng_7 {
        height: 36.25vw;
        width: 100%;
        transition: transform 0.7s;
        transform-style: preserve-3d;
        cursor: pointer;
        position: relative;
        .card__face {
            height: 36.25vw;
            width: 100%;
            display: flex;
            padding: 0.5rem 0;
            flex-direction: column;
            position: absolute;
            text-align: center;
            justify-content: center;
            gap: 1.25rem;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            border: 2px solid var(--black);
        }
        .card__face--front {
            display: flex;
            padding: 0.5rem 0;
            position: absolute;
            text-align: center;
            align-items: center;
            justify-content: center;
            img{
                width: 50%;
            }
        }
        .card__face--back {
            display: flex;
            padding: 0.5rem 0;
            flex-direction: column;
            position: absolute;
            text-align: center;
            justify-content: center;
            align-items: center;
            gap: 1.25rem;
            transform: rotateY(180deg);
            h1{
                color: var(--333333, #333);
                text-align: center;
                font-size: 2rem;
            }
            .example_1, .example_2{
                font-size: 1.5rem;
                display: flex;
                padding: 1.5rem 2rem;
                justify-content: center;
                align-items: center;
                border: 2px solid var(--black);
                color: var(--white);
                
            }
            .example_1{
                background-color: var(--pink);
            }
            .example_2{
                background-color: var(--blue);
            }
        }
      }
      .sleng_2.is-flipped {
        transform: rotateY(180deg);
    }
      .sleng_1.is-flipped {
        transform: rotateY(180deg);
    }
    
    .sleng_3.is-flipped {
        transform: rotateY(180deg);
    }
    .sleng_4.is-flipped {
        transform: rotateY(180deg);
    }
    .sleng_5.is-flipped {
        transform: rotateY(180deg);
    }
    .sleng_6.is-flipped {
        transform: rotateY(180deg);
    }
    .sleng_7.is-flipped {
        transform: rotateY(180deg);
    }
    .sleng_8.is-flipped {
        transform: rotateY(180deg);
    }
}
}
.form_cards{
    display: flex;
    width: 100%;
    padding: 4rem;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    border: 2px solid var(--black);
    h1{
        color: var(--black);
        text-align: center;
        font-size: 2.5rem;
    }
    form{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        input, button{
            font-size: 1.5rem;
            border: 2px solid var(--black);
            font-family: 'PPPangramSans';
            padding: 0.75rem 2rem;
        }
        input{
            display: flex;
            color: var(--dark_grey);
            width: 27rem;
        }
        button{
            display: flex;
            justify-content: center;
            align-items: center;
            background: var(--pink);
            color: var(--white);
        }
        ::placeholder {
            color: var(--black);
            font-size: 1.5rem;
        }
        #my-form-status{
            font-size: 1.25rem;
        }
    }
}
}
@media screen and (max-width: 1025px){
    .cards_page{
        padding: 0.8rem 1.5rem;
        gap: 3rem;
        h1{
            font-size: 3rem;
        }
        .cards_column{
            flex-direction: column;
                .cards_block {
                    width: 100%;
                    .sleng_1, .sleng_3, .sleng_4, .sleng_5, .sleng_6, .sleng_8 {
                        height: 29.5vw;
                        .card__face {
                            height: 29.5vw;
                        }
                        .card__face--back {
                            gap: 1rem;
                            h1{
                                font-size: 1.5rem;
                            }
                            p{
                                font-size: 1.25rem;
                                padding: 1.25rem 1.5rem;
                            }
                        }
                    }
                    .sleng_2, .sleng_7 {
                        height: 48.25vw;
                        .card__face {
                            height: 48.25vw;
                        }
                        .card__face--back {
                            gap: 1rem;
                            h1{
                                font-size: 1.5rem;
                            }
                            .example_1, .example_2{
                                font-size: 1.25rem;
                                padding: 1.25rem 1.5rem;
                            }
                        }
                    }
                }
        }
        .form_cards{
            padding: 4rem;
            gap: 2rem;
            h1{
                font-size: 2rem;
            }
            form{
                gap: 1rem;
                input, button{
                    font-size: 1.25rem;
                    padding: 0.75rem 2rem;
                }
                ::placeholder {
                    font-size: 1.25rem;
                }
                #my-form-status{
                    font-size: 1rem;
                }
            }
        }
    }
}

@media screen and (max-width: 700px){
    .cards_page{
        padding: 0.8rem 1.25rem;
        gap: 2.5rem;
        h1{
            font-size: 1.75rem;
        }
        .cards_column{
            flex-direction: column;
            gap: 1rem;
                .cards_block {
                    gap: 1rem;
                    .sleng_1, .sleng_3, .sleng_4, .sleng_5, .sleng_6, .sleng_8 {
                        height: 42.5vw;
                        .card__face {
                            height: 42.5vw;
                        }
                        .card__face--front{
                            img{
                                width: 65%;
                            }
                        }
                        .card__face--back {
                            gap: 0.5rem;
                            h1{
                                font-size: 1.25rem;
                            }
                            p{
                                font-size: 1rem;
                                padding: 1rem 1.25rem;
                            }
                        }
                    }
                    .sleng_2, .sleng_7 {
                        height: 63.25vw;
                        .card__face {
                            height: 63.25vw;
                        }
                        .card__face--front{
                            img{
                                width: 65%;
                            }
                        }
                        .card__face--back {
                            gap: 0.5rem;
                            h1{
                                font-size: 1.25rem;
                            }
                            .example_1, .example_2{
                                font-size: 1rem;
                                padding: 1rem 1.25rem;
                            }
                        }
                    }
                }
        }
        .form_cards{
            padding: 3rem 0rem;
            gap: 1rem;
            h1{
                font-size: 1.75rem;
            }
            form{
                gap: 0.5rem;
                input, button{
                    font-size: 1rem;
                    padding: 0.5rem 1.25rem;
                    width: 17rem;
                }
                ::placeholder {
                    font-size: 1rem;
                }
                #my-form-status{
                    font-size: 1rem;
                }
            }
        }
    }
}