.main_page{
  padding: 1.875rem 2.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  .cover_main{
    width: 100%;
    .title_mainpage{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-items: center;
      .title_main{
        width: 49rem;
        height: 40rem;
        background-image: url(/src/images/cover_main.webp);
        z-index: 1;
        background-repeat: no-repeat;
        background-size: 100%;
      }
      p {
        font-size: 1.5rem;
        color: var(--black);
      }
    }
    .sex_icon{
      position: absolute;
      z-index: 10;
      width: 16rem;
      height: 18rem;
      margin-left: 16vw;
      margin-top: 5vw;
      rotate: 18deg;
    }
    .eye_icon{
      position: absolute;
      z-index: 10;
      width: 14rem;
      height: 16rem;
      margin-left: 65vw;
      margin-top: 16vw;
      rotate: -19deg;
    }
    
  }
  .main_facts{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 12rem;
    gap: 10rem;
    .fact{
      display: flex;
      flex-direction: column;
      gap: 0vw;
      h1{
        font-family: 'helvetica';
        font-size: 4vw;
        color: var(--black);
        transform: scale(1, 4);
        transform-origin: bottom;
      }
      p{
        font-size: 1.5rem;
      }
    }
  }
  .main_recent, .main_populary {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.25rem;
    h1 {
      font-size: 4rem;
      color: var(--black);
    }
    .article_main_block {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1.25rem;
      a{
        width: 50%;
        text-decoration: none;
      }
      .article_main, .article_main_2 {
        display: flex;
        height: auto;
        padding-bottom: 1.25rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1.25rem;
        img{
          width: 100%;
          object-fit: cover;
          object-position: center;
          min-height: 20rem;
        }
        .cover_article_1,
        .cover_article_2 {
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          width: 100%;
        }
        .title_article {
          padding: 0rem 0.625rem;
          display: flex;
          flex-direction: column;
          gap: 1.25rem;
          .tegs {
            display: flex;
            align-items: center;
            gap: 0.625rem;
            .article_category_1,
            .article_category_2,
            .article_category_3 {
              display: flex;
              padding: 0.75rem 1.25rem;
              justify-content: center;
              align-items: center;
              font-size: 1.5rem;
              color: var(--white);
              border: 2px solid var(--black);
            }
            .article_category_1 {
              background: var(--pink);
            }
            .article_category_2 {
              background: var(--blue);
            }
            .article_category_3 {
              background: var(--green);
            }
          }
          h1 {
            font-size: 2.5rem;
            color: var(--black);
          }
        }
      }
      
      .article_main_2{
        width: 33%;
      }
    }
  }
  .main_sleng {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.25rem;
    a{
      text-decoration: none;
    }
    h1 {
      font-size: 4rem;
      color: var(--black);
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        transition: 0.3s;
      }
    }
    .sleng_block {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1.25rem;
      .sleng_about_1,
      .sleng_about_2 {
        display: flex;
        width: 50%;
        padding: 2.5rem 0;
        justify-content: center;
        border: 2px solid var(--black);
        img{
          width: 90%;
        }
      }
    }
  }
  .sex_education{
     width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.25rem;
    h1{
      font-size: 4rem;
      color: var(--black);
    }
    .card_popular{
    display: flex;
    padding: 1.8rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 37.5rem;
    gap: 0.6rem;                  
    text-decoration: none;
    background-image: url(/src/images/article_main_pop.webp);
    background-size: cover;
    background-position: center;
    .title_card_1_type{
      display: flex;
      padding: 0rem 0.6rem;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      gap: 0.6rem;
      .teg_card{
        display: flex;
        align-items: flex-start;
        gap: 0.6rem;
        .teg_card_1, .teg_card_2, .teg_card_3{
          display: flex;
          padding: 0.75rem 1.25rem;
          justify-content: center;
          align-items: center;
          font-size: 1.25rem;
          color: var(--white);
          border: 2px solid var(--black);
        }
        .teg_card_1{
          background: var(--pink);
        }
        .teg_card_2{
          background: var(--blue);
        }
        .teg_card_3{
          background: var(--green);
        }
      }
      h1{
        color: var(--white);
        font-size: 2.5rem;
      }
    }
  }
  }
  
  .tests_block{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1.25rem;
        h1 {
            font-size: 4rem;
            color: var(--black);
        }
        .card_test{
          width: 100%;
          display: flex;
          flex-direction: row;
          border: 2px solid var(--black);
          .title_test{
            width: 50%;
            display: flex;
            padding: 1.25rem;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 1.25rem;
            .name_test_1{
              width: 41.57vw;
              height: 25.3vw;
              background-image: url(../images/test_title_1.webp);
              background-repeat: no-repeat;
              background-size: 100%;
            }
            .name_test_2{
              width: 41.57vw;
              height: 25.3vw;
              background-image: url(../images/test_title_2.webp);
              background-repeat: no-repeat;
              background-size: 100%;
            }
            p{
              color: var(--black);
              font-size: 1.5rem;
            }
            button{
              width: 100%;
              display: flex;
              padding: 1.25rem 2rem;
              justify-content: center;
              align-items: center;
              gap: 0.625rem;
              border: 2px solid var(--black);
              background: var(--pink);
              color: var(--white);
              text-align: center;
              font-size: 1.5rem;
              &:hover {
                  opacity: 0.7;
                  transition: 0.3s;
              }
            }
          }
          img{
            width: 50%;
            object-fit: cover;
            background-clip: padding-box;
            object-position: left top;
          }
          .test_cover{
            width: 50%;
            object-fit: cover;
            background-clip: padding-box;
            object-position: center;
          }
        }
    }
}

@media screen and (max-width: 1440px){
  .main_page{
    .cover_main{
      .sex_icon{
        margin-left: 2vw;
        margin-top: 5vw;
      }
      .eye_icon{
        margin-left: 70vw;
        margin-top: 18vw;
      }
    }
  }
}
@media screen and (max-width: 1025px){
  .main_page{
    padding: 0.8rem 1.5rem;
    gap: 3rem;
      .cover_main{
        .title_mainpage{
          .title_main{
            width: 36rem;
            height: 30rem;
          }
          p {
            font-size: 1.25rem;
          }
        }
        .sex_icon{
          width: 13rem;
          height: 15rem;
          margin-left: 4vw;
          margin-top: 25vw;
        }
        .eye_icon{
          width: 12rem;
          height: 14rem;
          margin-left: 64vw;
          margin-top: 4vw;
        }
      }
      .main_facts{
        margin-top: 5rem;
        gap: 5rem;
        .fact{
          gap: 0vw;
          h1{
            font-size: 3vw;
          }
          p{
            font-size: 1.25rem;
          }
        }
      }
      .main_recent, .main_populary {
          gap: 1rem;
          h1 {
            font-size: 3rem;
            color: var(--black);
          }
          .article_main_block {
            gap: 1rem;
            a{
              width: 50%;
            }
            .article_main, .article_main_2 {
              padding-bottom: 1rem;
              gap: 1rem;
              img{
               min-height: 20rem;
              }
             .cover_article_1,
             .cover_article_2 {
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                width: 100%;
              }
              .title_article {
                padding: 0rem 0.6rem;
                gap: 0.6rem;
                .tegs {
                  gap: 0.6rem;
                  .article_category_1,
                  .article_category_2,
                  .article_category_3 {
                    padding: 0.6rem 1rem;
                    font-size: 1rem;
                  }
                }
                h1 {
                  font-size: 1.5rem;
                }
              }
            }
            .article_main_2{
              width: 33%;
            }
          }
      }
      .main_sleng {
          h1 {
            font-size: 3rem;
          }
          .sleng_block {
            gap: 1rem;
            .sleng_about_1, .sleng_about_2{
              img{
                height: 20vw;
              }
            }
          }
      }
      .sex_education{
        h1 {
            font-size: 3rem;
          }
          .card_popular{
        padding: 1.5rem;
        height: 37.5rem;
        gap: 0.6rem;
        .title_card_1_type{
          padding: 0rem 0.6rem;
          gap: 0.6rem;
          .teg_card{
            gap: 0.6rem;
            .teg_card_1, .teg_card_2, .teg_card_3{
              padding: 0.6rem 1rem;
              font-size: 1rem;
            }
          }
          h1{
            font-size: 1.5rem;
          }
        }
      }
      }
      .tests_block{
        gap: 2rem;
        h1 {
            font-size: 3rem;
        }
            .card_test{
                width: 100%;
                display: flex;
                flex-direction: row;
                
                .title_test{
                    padding: 1rem;
                    gap: 1rem;
                    .name_test_1{
                        width: 41.57vw;
                        height: 25.19vw;
                    }
                    .name_test_2{
                        width: 41.57vw;
                        height: 25.19vw;
                    }
                    p{
                        font-size: 1.25rem;
                    }
                    button{
                        padding: 1rem 1.25rem;
                        font-size: 1.25rem;
                    }
                }
            }
    }
  }
}
@media screen and (max-width: 700px){
  .main_page{
    padding: 0.8rem 1.25rem;
    gap: 2.5rem;
    .cover_main{
      height: 32rem;
      margin-top: 5rem;
        .title_mainpage{
          .title_main{
            width: 19rem;
            height: 16rem;
            margin-top: 3rem;
          }
          p {
            font-size: 1.25rem;
            text-align: center;
          }
        }
        .sex_icon{
          display: none;
        }
        .eye_icon{
          display: none;
        }
    }
    .main_facts{
        flex-direction: column;
        gap: 28.5vw;
        .fact{
          gap: 0vw;
          h1{
            font-size: 9vw;
          }
          p{
            font-size: 1.25rem;
          }
        }
    }
    .main_recent, .main_populary {
          gap: 1rem;
          h1 {
            font-size: 1.75rem;
          }
          .article_main_block {
            gap: 1rem;
            flex-direction: column;
            a{
              width: 100%;
            }
            .article_main, .article_main_2 {
              padding-bottom: 1rem;
              gap: 0.7rem;
              img{
               min-height: 20rem;
              }
             .cover_article_1,
             .cover_article_2 {
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                width: 100%;
              }
              .title_article {
                padding: 0rem 0.6rem;
                gap: 0.5rem;
                .tegs {
                  gap: 0.5rem;
                  .article_category_1,
                  .article_category_2,
                  .article_category_3 {
                    padding: 0.4rem 0.8rem;
                    font-size: 1rem;
                  }
                }
                h1 {
                  font-size: 1.5rem;
                }
              }
            }
            .article_main_2{
              width: 100%;
            }
          }
    }
    .main_sleng {
      h1 {
        font-size: 1.75rem;
      }
      .sleng_block {
      flex-direction: column;
        gap: 1rem;
        .sleng_about_1, .sleng_about_2{
          width: 100%;
            img{
                height: 30vw;
            }
        }
    }
    }
    .sex_education{
      h1 {
            font-size: 1.75rem;
        }
        .card_popular{
      padding: 1rem;
      height: 37.5rem;
      gap: 0.6rem;
      background-position: 25% 75%;
      .title_card_1_type{
        padding: 0rem 0.6rem;
        gap: 0.5rem;
        .teg_card{
          gap: 0.5rem;
          .teg_card_1, .teg_card_2, .teg_card_3{
            padding: 0.6rem 1rem;
            font-size: 1rem;
          }
        }
        h1{
          font-size: 1.5rem;
        }
      }
    }
    }
    .tests_block{
        gap: 2rem;
        h1 {
            font-size: 1.75rem;
        }
            .card_test{
                flex-direction: column;
                align-items: center;
                padding: 1.25rem;
                gap: 1rem;
                .title_test{
                    width: 100%;
                    padding: 0rem;
                    gap: 0.5rem;
                    .name_test_1{
                        width: 100%;
                        height: 53.19vw;
                    }
                    .name_test_2{
                        width: 100%;
                        height: 53.19vw;
                    }
                    p{
                        font-size: 1rem;
                    }
                    button{
                        padding: 0.6rem 1rem;
                        font-size: 1rem;
                    }
                }
                img, .test_cover{
                    width: 100%;
                    
                }
            }
    }
  }
}